<footer class= "navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class= "copyright">
          <small>&copy; 2017 Martin Teysera</small>
        </div>
      </div>  
    </footer>  