<footer class= "navbar navbar-inverse navbar-fixed-bottom">
      <div class="container-fluid">
        <div class= "copyright">
          <p>&copy; 2017 BBikes</p>
        </div>
      </div>  
    </footer>  