<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 nopadding">
      <h1>About Us</h1>
      <div class="about-info">
      <p>Brln_Bikes is a small start-up focused on renting and selling bicyles, </br>
      we have a great collection of used and new bicyles, from city & mountain bikes up to BMX and kids bikes.<br>
      Our commitment is to support sustainable and enviromental friendly means of transport.<br>
      <p>&copy; 2017 |Brln_Bikes|</p>
      </p>
      </div>
    </div>
  </div>
</div>