<div class= "container-fluid">
  <div class="row">
    <div class="col-xs-12 nopadding">
      <%= image_tag("bbikes_1.jpg", class: "img-responsive my-image") %>
      <div class="info">
        <h2>Your source for used bikes in Berlin</h2>
        <%= link_to "Show Products", products_path() %>
      </div>
    </div>
  </div>
</div>