// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  color: #000;
}

a:hover {
  text-decoration: none;
}
 #prod {
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 5%;
  padding-top: 10px; 
}

.prod_desc {
  padding: 5px 0px 10px 0;
  background-color: #E9E9E9;
  max-width: 555px;
}

.product-reviews{
  
  background-color: #ffebc7;
  padding: 20px;

  p, .rated {
    word-break: break-all;
    margin: 10px 30px;
    font-size: 1.1em;
  }
 
}

.product_img {
  max-height: 400px;
  max-width: 555px;
  margin: 0 auto;
}

.badge {
  border-radius: 0%;
  padding: 3px;
  background-color: #000;
}