.product-reviews{
  
  background-color: #ffebc7;
  padding-bottom: 20px;

  #reviews {
    max-width: 50%;
    margin-left: 6%;
   
    padding: 0 0 10px 0;
      p {
        padding-left: 15px;
      }
    }
  }