// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  padding-top: 20px;
  width: 100%;
  height: 100%;
  font-family: Futura, cursive;
  padding-bottom: 50px;
  background-color: lightyellow;
}

.projectName {
  color:#fff !important;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  padding: 20px;
  text-align: center;
}

.info {
  padding: 2%;
  padding-left: 3%;
  background-color: lightyellow;
}

.info h2 {
  font-weight: 600;
}

.navbar {
  font-size: 1.2em;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  
}

.social-icons {
  display: inline;
  letter-spacing: 2px;
  padding-left: 4px;
}

.social-icons a {
  color: #fff;
}


footer {
    text-align: center;
    color: #fff;
}

footer p {
  padding-top: 15px;
}
