<!DOCTYPE html>
<html>
  <%= render 'static_pages/head' %>
    <body>
      <%= render 'static_pages/nav' %>

      <%= yield %>
      
      <%= render 'static_pages/footer'%>
    
    </body>
</html>
